@import "./variables.scss";
* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}

@mixin title {
    font-family: "Monsterrat", sans-serif;
    font-size: 60px;
    font-weight: 500;
}
@mixin main-subtitle {
    font-family: "Monsterrat", sans-serif;
    font-size: 36px;
    font-weight: 200;
    line-height: 38px;
}
@mixin subtitle {
    font-family: "Varela Round", sans-serif;
    font-size: 20px;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
@mixin center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@mixin item-end {
    content: "";
    width: 156px;
    height: 26px;
    background-color: $primary;
    -webkit-mask-image: url(./media/ornament.svg);
    mask: url(./media/ornament.svg);
}

a {
    color: black;
    cursor: pointer;
}
a:visited {
    color: black;
}

.navigation {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 72px;
    background-color: transparent;
    padding: 20px 50px;
    @include flex-space-between;
    h2 {
        @include main-subtitle;
        cursor: pointer;
        color: white;
    }
    ul {
        @include flex-right;
        list-style: none;
        li {
            @include subtitle;
            padding-left: 40px;
            a {
                color: white;
            }
        }
    }
}

.hero {
    width: 100vw;
    height: 100vh;
    background-image: url("./media/hero background.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        .banner {
            position: relative;
            width: 250px;
            height: 540px;
            overflow-x: visible;
            background-color: $primary;
            margin-left: 250px;
            padding-left: 20px;
            padding-top: 200px;
            border-radius: $bottom-border;
            h3 {
                @include main-subtitle;
                color: white;
                font-size: 20px;
                padding: 10px 0;
                padding-right: 10px;
                line-height: 30px;
            }
            h1 {
                @include title;
                color: white;
                font-size: 78px;
            }
            ::after {
                @include item-end;
                position: absolute;
                bottom: -25px;
                left: 47px;
                transform: rotate(180deg);
            }
        }
    }
}

.reservation-float {
    @include center-column;
    position: absolute;
    bottom: -260px;
    left: 50%;
    margin-left: -200px;
    .reserve-top {
        @include center-column;
        height: 75px;
        width: 400px;
        background-color: $primary;
        border-radius: $bottom-top;

        h2 {
            @include main-subtitle;
            color: white;
        }
    }
    .reserve-top::before {
        @include item-end;
        position: absolute;
        top: -25px;
    }
    .reserve-bottom {
        height: 260px;
        width: 400px;
        background-color: white;
        padding: 50px;
        border-radius: $bottom-border;
        @include center-column;
        justify-content: flex-start;
        p {
            @include subtitle;
            text-align: center;
            font-size: 15px;
            line-height: 20px;
            padding-bottom: 20px;
        }
        h2 {
            @include main-subtitle;
            font-size: 28px;
            padding-bottom: 20px;
        }
        button {
            background-color: black;
            padding: 10px 20px;
            border-radius: 30px;
            @include subtitle;
            color: white;
        }
    }
    .reserve-bottom::before {
        @include item-end;
        position: absolute;
        transform: rotate(180deg);
        background-color: white;
        bottom: -25px;
    }
}
.about-container {
    width: 100vw;
    height: auto;
    background-color: #f5f3f0;
    padding-top: 400px;
    padding-bottom: 80px;
    @include center-column;
    justify-content: flex-start;
    h3 {
        @include main-subtitle;
        font-size: 32px;
    }
    ul {
        @include center;
        list-style: none;
        padding-bottom: 80px;
        li {
            padding: 0 50px;
            transition: color 0.2s;
            cursor: pointer;
            .underline {
                position: relative;
                width: 120%;
                left: -10%;
                height: 3px;
                margin-top: 5px;
                background-color: $primary;
                opacity: 0;
                transition: opacity 0.3s;
            }
        }
        li:hover {
            color: $primary;
        }
        li:hover > .underline {
            opacity: 1;
        }
        .hover {
            color: $primary;
        }
    }
    p {
        width: 100%;
        text-align: center;
        @include subtitle;
        font-size: 16px;
    }
    .story {
        @include center-column;
        .milestones {
            @include center;
            width: 80vw;
            padding-bottom: 80px;
            .milestone {
                @include center-column;
                text-align: center;
                padding: 20px;
                h3 {
                    padding-bottom: 10px;
                }
            }
        }
        .quote {
            width: 60%;
        }
        .quote-author {
            padding-top: 10px;
        }
    }
    .team {
        @include center;
        .members {
            @include center;
            flex-wrap: wrap;
            .member {
                width: auto;
                height: auto;
                border-radius: 10px;
                max-width: 300px;
                margin: 20px;
                padding-bottom: 20px;
                border: 1px solid rgb(206, 206, 206);
                transition: box-shadow 0.5s;

                .image-container {
                    width: 100%;
                    height: 250px;
                    background-color: rgba(0, 0, 0, 0);
                    transition: background-color 0.5s;
                    position: relative;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top;
                        border-radius: 10px 10px 0 0;
                        margin-bottom: 20px;
                    }
                    .overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px 10px 0 0;
                        background-color: rgba(0, 0, 0, 0);
                        transition: background-color 0.5s;
                    }
                    .social {
                        z-index: 1;
                        width: 100%;
                        height: 30px;
                        @include center;
                        position: absolute;
                        top: 60%;
                        opacity: 0;
                        transition: top 0.5s, opacity 0.5s;
                        .social-item {
                            width: 30px;
                            height: 30px;
                            border: 1px solid white;
                            border-radius: 50%;
                            @include center;
                            margin: 0 10px;
                        }
                    }
                }

                h3 {
                    padding: 5px 10px;
                    font-size: 28px;
                }
                h6 {
                    @include main-subtitle;
                    font-size: 16px;
                    line-height: 20px;
                    padding: 5px 10px;
                }
                .member-underline {
                    width: 20px;
                    height: 2px;
                    background-color: $primary;
                    margin-left: 10px;
                    margin-bottom: 20px;
                    transition: width 0.5s;
                }
                p {
                    @include subtitle;
                    font-size: 12px;
                    text-align: left;
                    padding: 0 10px;
                    line-height: 20px;
                }
                .description {
                    padding-top: 20px;
                    font-size: 16px;
                    color: rgb(134, 134, 134);
                    transition: color 0.5s;
                }
            }
            .member:hover {
                box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.5);
            }
            .member:hover .overlay {
                background-color: rgba(0, 0, 0, 0.6);
            }
            .member:hover .social {
                top: 50%;
                opacity: 1;
            }
            .member:hover .description {
                color: black;
            }
            .member:hover .member-underline {
                width: 50px;
            }
        }
    }
    .awards {
        @include center-column;
        .awards-lists {
            margin-top: 30px;
            @include flex-space-between;
        }
        .awards-list {
            @include center-column;
            @include subtitle;
            font-size: 16px;
            line-height: 28px;
            align-items: flex-start;
            list-style: disc;
            list-style-position: inside;
        }
    }
}
